.sidebar {
  width: 300px;
  &__user {
    background-color: #253141;
    height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    &__box {
      height: 20px;
      width: 100%;
      background-color: #ffffff;
      line-height: 20px;
      display:flex;
      justify-content: space-between;
    }
  }
  &__group-list {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 0 20px;
  }
}